nav {
  font-size: 1.5em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

nav > ul,li {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav > ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

body {
  background-image: url("../images/van.jpeg");
  background-color: #cccccc;
  background-size: 1300px 700px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.fixed-header {
  position: absolute;
  width: 100%;
  background: #cccccc;
  padding: 10px 10px;  
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #cccccc;
}

#email {
  width:42px;
  height:42px;
}

#copyright {
  width: fit-content;
}

#email-link {
  width: fit-content;
}